<div class="w3-container w3-teal">
        <div *ngFor="let group of groups">
            <div class="card" style="padding:10px 15px; padding-bottom:80px; margin-bottom:20px;display: block; ">
                <div style="float:left;">
                    <h2>{{group.name}}</h2> 
                    <span *ngFor="let participant of group.participants;">
                            <a>{{participant}}</a>
                        </span>
                </div>
                <div style="float:right;">
                    <Button (click)="ViewGroup(group._id)" class="btn btn-danger">view</Button>
                </div>
            </div>
        </div>
    </div>