<div class="w3-container w3-teal">
        <Button (click)="Route()" class="btn btn-danger">Creat Group</Button>
        <div *ngFor="let group of groups">
            <div class="card" style="padding:10px 15px; padding-bottom:80px; margin-bottom:20px;display: block; ">
                <div style="float:left;">
                    <h2>{{group.name}}</h2> 
                    <span *ngFor="let habit of group.habits;">
                         <a>{{habit}}</a>
                        </span>
                </div>
                <div style="float:right;">
                    <Button (click)="Join(group.name)" class="btn btn-danger">Join</Button>
                    <Button (click)="ViewGroup(group.name)" class="btn btn-danger">view</Button>
                </div>
            </div>
        </div>
    </div>
   